* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /* background-color: #455a64; */
}

.notifyContainer {
    position: fixed;
    top: 120px;
    right: 40px;
}

.notification {
    background-color: #263238;
    color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    height: 60px;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    padding-top: 15px;
    overflow-wrap: break-word;
}

.notification div {
    font-size: 19px;
    padding-top: 5px;
}

.green {
    background-color: #66bb6a;
}

.red {
    background-color: #f44336;
}

.yellow {
    background-color: #f5c52af2;
}

.blue {
    background-color: #2196f3;
}

.image-notification {
    width: 600px;
}

.image {
    width: 100%;
    padding-top: 10px;
}

.progress-container {
    width: 50%;
    background-color: #ddd;
}

.progress {
    width: 100%;
    height: 35px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 32px;
    color: black;
}

.btn {
    padding: 7px;
    cursor: pointer;
}

.notification-title {
    text-align: center;
    background-color: #333030dc;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    border-bottom: 2px solid #ddd;
}

.border-none {
    border: none;
    border-radius: 5px;
}

.icon {
    margin-left: 10px;
    font-size: 20px;
}

.icon-notification {
    display: flex;
}

.icon-text {
    margin-left: 15px;
    margin-right: 20px;
    font-size: 22px;
    padding-top: 5px;
}

.close {
    position: absolute;
    top: 9px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}

.bottom-right {
    top: 720px;
}

.bottom-left {
    top: 720px;
    right: 1020px;
}

.top-left {
    right: 1020px;
}